[package]
name = "kdash"
version = "0.1.0"
authors = ["Deepu K Sasidharan <d4udts@gmail.com>"]
description = """
A fast and simple dashboard for Kubernetes
"""
documentation = "https://github.com/kdash-rs/kdash"
keywords = ["kdash", "kubernetes", "dashboard"]
repository = "https://github.com/kdash-rs/kdash"
homepage = "https://github.com/kdash-rs/kdash"
readme = "README.md"
license = "MIT"
exclude = ["assets/*", ".github", "Makefile.toml", "CONTRIBUTING.md", "*.log", "tags"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[badges]

[dependencies]
crossterm = "0.19"
tui = { version = "0.15", default-features = false, features = ['crossterm'] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
clap = "2.33.3"
tokio = { version = "1.6", features = ["macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.6", features = ["time"] }
rand = "0.8"
duct = "0.13"
anyhow = "1.0.38"
backtrace = "0.3.60"
textwrap = "0.13"
itertools = "0.10.0"
regex = "1"
clipboard = "0.5"
kube = "0.53"
kube-runtime = "0.53"
k8s-openapi = { version = "0.11", default-features = false, features = ["v1_20"] }
openssl = { version = "0.10.34", features = ["vendored"] }

[dev-dependencies]
spectral = "0.6.0"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]

[[bin]]
bench = false
path = "src/main.rs"
name = "kdash"