[package]
name = "kdash"
version = "0.4.0"
authors = ["Deepu K Sasidharan <d4udts@gmail.com>"]
description = """
A fast and simple dashboard for Kubernetes
"""
documentation = "https://github.com/kdash-rs/kdash"
keywords = ["kdash", "kubernetes", "dashboard"]
repository = "https://github.com/kdash-rs/kdash"
homepage = "https://github.com/kdash-rs/kdash"
readme = "README.md"
license = "MIT"
exclude = ["assets/*", ".github", "Makefile.toml", "CONTRIBUTING.md", "*.log", "tags"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[badges]

[dependencies]
openssl-probe = "0.1.2"
crossterm = "0.26.1"
tui = { version = "0.19", default-features = false, features = ['crossterm'] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
clap = { version = "4.3.22", features = ["help", "usage", "error-context", "derive"] }
tokio = { version = "1.32", features = ["macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.14", features = ["time"] }
duct = "0.13"
anyhow = "1.0"
backtrace = "0.3"
textwrap = "0.16.0"
regex = "1"
kube = "0.80.0"
k8s-openapi = { version = "0.17.0", default-features = false, features = ["v1_22"] }
base64 ="0.21.2"
openssl = { version = "0.10", features = ["vendored"] }
human-panic = "1.1"
kubectl-view-allocations = { version="0.16.3", default-features = false }
async-trait = "0.1.73"

# XCB is a PITA to compile for ARM so disabling the copy feature on ARM for now
[target.'cfg(target_arch = "x86_64")'.dependencies]
clipboard = "0.5"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]

[[bin]]
bench = false
path = "src/main.rs"
name = "kdash"

[profile.release]
lto = true
codegen-units = 1
