[package]
name = "kdash"
version = "0.3.0"
authors = ["Deepu K Sasidharan <d4udts@gmail.com>"]
description = """
A fast and simple dashboard for Kubernetes
"""
documentation = "https://github.com/kdash-rs/kdash"
keywords = ["kdash", "kubernetes", "dashboard"]
repository = "https://github.com/kdash-rs/kdash"
homepage = "https://github.com/kdash-rs/kdash"
readme = "README.md"
license = "MIT"
exclude = ["assets/*", ".github", "Makefile.toml", "CONTRIBUTING.md", "*.log", "tags"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[badges]

[dependencies]
crossterm = "0.22.1"
tui = { version = "0.17.0", default-features = false, features = ['crossterm'] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
clap = "3.1.7"
tokio = { version = "1.16.1", features = ["macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1.8", features = ["time"] }
duct = "0.13"
anyhow = "1.0"
backtrace = "0.3"
textwrap = "0.14"
regex = "1"
clipboard = "0.5"
kube = "0.60.0"
k8s-openapi = { version = "0.13.1", default-features = false, features = ["v1_20"] }
openssl = { version = "0.10.38", features = ["vendored"] }
human-panic = "1.0"
kubectl-view-allocations = { version="0.14.6", default-features = false }

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["user-hooks"]

[[bin]]
bench = false
path = "src/main.rs"
name = "kdash"

[profile.release]
lto = true
codegen-units = 1
