[Desktop Entry]
Name=KDash
Exec=spt
Comment=A fast and simple dashboard for Kubernetes
Icon=${SNAP}/meta/gui/kdash.png
Type=Application
Terminal=true
StartupNotify=false
Categories=Programming;
